{{ define "content" }}
<div class="page-title">
    <div class="title_left">
        <h3>Amazon Simple Email Service</h3>
    </div>
</div>

<div class="clearfix"></div>

{{ if gt .remaining 0.0 }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Send SMS</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" role="form" method="post" id="send-mail" action="/aws/ses" novalidate>
                    <div class="item form-group">
                        <label for="from" class="control-label col-md-3 col-sm-3 col-xs-12">
                            From <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="from" name="from" placeholder="example1@domain.com" value="{{ .sendFrom }}" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="to" class="control-label col-md-3 col-sm-3 col-xs-12">
                            To <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="to" name="to" placeholder="example1@domain.com, example2@domain.com" value="{{ .sendTo }}" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="subject" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Subject <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="subject" name="subject" value="{{ .sendSubject }}" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="type" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Content type <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control select2" style="width:100%" name="type" id="type" required="required">
                                <option value="plain"{{ if eq .sendType "plain" }} selected{{ end }}>Plain text</option>
                                <option value="html"{{ if eq .sendType "html" }} selected{{ end }}>HTML</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="message" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Message <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control" rows="4" name="message" id="message" required="required">{{ .sendMessage }}</textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="reset" class="btn btn-info" value="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Quota</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="quota" style="height:300px;"></div>

                <div>
                    <ul class="list-inline widget_tally">
                        <li>
                            <p>
                                <span class="month">Sending quota per 24 hour period</span>
                                <span class="count"><em><strong class="text-danger">{{ .max24HourSend }}</strong> emails</em></span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="month">Max send rate</span>
                                <span class="count"><em><strong class="text-danger">{{ .maxSendRate }}</strong> emails/second</em></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Statistics</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="stats" style="height:372px;"></div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}

{{ define "js" }}
<script src="/dashboard/assets/vendors/validator/js/validator.min.js?v={{ .Application.build }}"></script>
<script src="/dashboard/assets/vendors/echarts/js/echarts.min.js?v={{ .Application.build }}"></script>

<script type="application/javascript">
    $(document).ready(function () {
        {{ if .errors }}
        {{ range $index, $error := .errors }}
        new PNotify({
            title: 'Error',
            text: '{{ $error }}',
            type: 'error',
            hide: false,
            styling: 'bootstrap3'
        });
        {{end}}
        {{ end }}

        {{ if .message }}
        new PNotify({
            title: 'Info',
            text: '{{ .message }}',
            type: 'success',
            hide: false,
            styling: 'bootstrap3'
        });
        {{ end }}

        $('#send-mail').submit(function () {
            var el = $(this);

            if (el.data('valid')) {
                el.submit();
            }

            return false;
        });

        var quotaChart = echarts.init(document.getElementById('quota'), echartsTheme);
        quotaChart.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{b}: {c} ({d}%)"
            },
            toolbox: {
                show: true,
                feature: {
                    saveAsImage: {
                        show: true,
                        title: 'Save',
                        name: 'quota'
                    }
                }
            },
            series: [{
                type: 'pie',
                radius: ['35%', '55%'],
                label: {
                    normal: {
                        show: true
                    }
                },
                data: [
                    { value: {{ .sent }}, name: 'Sent' },
                    { value: {{ .remaining }}, name: 'Remaining' }
                ]
            }]
        });

        var statsChart = echarts.init(document.getElementById('stats'), echartsTheme);
        statsChart.setOption({
            toolbox: {
                show: true,
                feature: {
                    saveAsImage: {
                        show: true,
                        title: 'Save',
                        name: 'stats'
                    }
                }
            },
            tooltip : {
                trigger: 'axis',
                axisPointer : {
                    type : 'shadow'
                }
            },
            legend: {
                data:['Deliveries','Bounces','Complaints','Rejects']
            },
            dataZoom: {
                show: true,
                startValue: '{{ .statsStart.Format "2006-01-02T15:04:05Z07:00" }}'
            },
            xAxis: {
                type: 'time'
            },
            yAxis: {
            },
            series: [{
                name: 'Deliveries',
                type: 'bar',
                data: [{{ range $index, $stat := .stats }}{{ if $index }},{{ end }}['{{ $stat.Timestamp.Format "2006-01-02T15:04:05Z07:00" }}',{{ $stat.DeliveryAttempts }}]{{ end }}]
            },{
                name: 'Bounces',
                type: 'bar',
                data: [{{ range $index, $stat := .stats }}{{ if $index }},{{ end }}['{{ $stat.Timestamp.Format "2006-01-02T15:04:05Z07:00" }}',{{ $stat.Bounces }}]{{ end }}]
            },{
                name: 'Complaints',
                type: 'bar',
                data: [{{ range $index, $stat := .stats }}{{ if $index }},{{ end }}['{{ $stat.Timestamp.Format "2006-01-02T15:04:05Z07:00" }}',{{ $stat.Complaints }}]{{ end }}]
            },{
                name: 'Rejects',
                type: 'bar',
                data: [{{ range $index, $stat := .stats }}{{ if $index }},{{ end }}['{{ $stat.Timestamp.Format "2006-01-02T15:04:05Z07:00" }}',{{ $stat.Rejects }}]{{ end }}]
            }]
        });
    });
</script>
{{ end }}