{{ define "content" }}
<div class="page-title">
    <div class="title_left">
        <h3>Amazon Simple Notification Service</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-users"></i> Services</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped datatable">
            <thead>
            <tr>
                <th>Active services</th>
            </tr>
            </thead>
            <tbody>
            {{ range $name, $service := .services }}
            <tr>
                <td>{{ $name }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-users"></i> Applications</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="javascript:void(0)" id="applications-update" data-updater="applications">
                            <i class="glyphicon glyphicon-refresh"></i> Update
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-hover table-striped" id="applications">
            <thead>
                <th>IAM</th>
                <th>Application ARN</th>
                <th>Certificate expiration</th>
                <th>Endpoints</th>
                <th>Last update</th>
            </thead>
            <tbody>
            {{ range $i, $application := .applications }}
            <tr {{if not $application.Enabled}}class="danger"{{end}}>
                <td class="text-center">
                    {{ if $application.IsIAM }}
                    <span class="glyphicon glyphicon-ok" style="color: #5cb85c"></span>
                    {{ else }}
                    <span class="glyphicon glyphicon-remove" style="color: #d9534f"></span>
                    {{ end }}
                </td>
                <td>{{ $application.Arn }}</td>
                <td>
                    {{ if $application.CertificateExpirationDate }}
                    {{ $application.CertificateExpirationDate }}
                    {{ end }}
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="min-width:2em;width:{{ $application.GetEnabledPercent }}%">
                            {{ $application.GetEnabledCount }}
                        </div>
                        <div class="progress-bar progress-bar-warning" style="min-width:2em;width:{{ $application.GetDisabledPercent }}%">
                            {{ $application.GetDisabledCount }}
                        </div>
                    </div>
                </td>
                <td>{{ $application.LastUpdate }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-users"></i> Topics</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="javascript:void(0)" id="topics-update" data-updater="topics">
                            <i class="glyphicon glyphicon-refresh"></i> Update
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped datatable datatable-counter">
            <thead>
            <tr>
                <th>Topic ARN</th>
            </tr>
            </thead>
            <tbody>
            {{ range $i, $topic := .topics }}
            <tr>
                <td>{{ $topic.TopicArn }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-users"></i> Subscriptions</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="javascript:void(0)" id="subscriptions-update" data-updater="subscriptions">
                            <i class="glyphicon glyphicon-refresh"></i> Update
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped datatable datatable-counter">
            <thead>
                <th>Subscription ARN</th>
                <th>Endpoint</th>
            </thead>
            <tbody>
            {{ range $i, $subscription := .subscriptions }}
            <tr>
                <td>{{ $subscription.SubscriptionArn }}</td>
                <td>{{ $subscription.Endpoint }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}

{{ define "head" }}
<link href="/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css?v={{ .Application.build }}" rel="stylesheet">
<link href="/dashboard/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css?v={{ .Application.build }}" rel="stylesheet">
{{ end }}

{{ define "js" }}
<script src="/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js?v={{ .Application.build }}"></script>
<script src="/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js?v={{ .Application.build }}"></script>
<script src="/dashboard/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js?v={{ .Application.build }}"></script>

<script type="application/javascript">
    $(document).ready(function () {
        $('#applications-update,#topics-update,#subscriptions-update').click(function(){
            $.post('#', {'updater': $(this).data('updater')}, function() {
                window.location.reload();
            });

            return false;
        });

        $.fn.dataTableExt.afnFiltering.push(
            function(settings, data, dataIndex, row, counter){
                if (settings.sTableId === 'applications') {
                    var v = $('#cert-selector').val();

                    if (v === 'expired') {
                        if (!row[2].length) {
                            return false;
                        }

                        var d = Date.parse(row[2]);

                        if (!d) {
                            return false;
                        }

                        return Date.now() >= d;
                    }
                }

                return true
            }
        );

        $('#applications').DataTable({
            columns: [
                {
                    data: 0
                },
                {
                    data: 1
                },
                {
                    data: 2,
                    render: function (date) {
                        if (date.length) {
                            return dateToString(date);
                        }

                        return ''
                    }
                },
                {
                    data: 3,
                    orderable: false
                },
                {
                    data: 4,
                    render: function (date) {
                        return dateToString(date);
                    }
                }
            ],
            initComplete: function () {
                this.api().columns([2]).every(function() {
                    var
                        column = this,
                        select = $('<select style="float:right" id="cert-selector"></select>')
                            .appendTo($(column.header()))
                            .on('change', function() {
                                column.search('', true, false).draw();
                            })
                            .on('click', function(e) {
                                e.stopPropagation();
                            });

                    select.append('<option value="all">Show all</option>');
                    select.append('<option value="expired">Expired</option>');
                });
            }
        });
    });
</script>
{{ end }}